<section class="page-header">

    <div>

        <h1>Clients</h1>

        <p>

            Manage applications connected to PRAS API.

        </p>

    </div>

    <button
    class="primary"
    (click)="openAddModal()">

    <i class="fa-solid fa-plus"></i>

    Add Client

</button>

</section>

<!-- Summary -->

<section class="summary-grid">

    <div class="summary-card">

        <i class="fa-solid fa-users"></i>

        <h2>124</h2>

        <p>Total Clients</p>

    </div>

    <div class="summary-card">

        <i class="fa-solid fa-user-check"></i>

        <h2>118</h2>

        <p>Active Clients</p>

    </div>

    <div class="summary-card">

        <i class="fa-solid fa-key"></i>

        <h2>124</h2>

        <p>API Keys</p>

    </div>

</section>

<!-- Filters -->

<section class="filters">

    <input
        [(ngModel)]="search"
        placeholder="Search client...">

    <select [(ngModel)]="status">

        <option>All</option>
        <option>Active</option>
        <option>Inactive</option>

    </select>

</section>

<!-- Table -->

<div class="table-card">

<table>

<thead>

<tr>

<th>Client</th>

<th>Email</th>

<th>API Key</th>

<th>Status</th>

<th>Actions</th>

</tr>

</thead>

<tbody>

<tr *ngFor="let client of clients">

<td>

<strong>{{client.name}}</strong>

</td>

<td>{{client.email}}</td>

<td>

<div class="api-key">

    <code>

        {{ client.showKey ? client.apiKey : '••••••••••••••••••••••' }}

    </code>

    <button
        (click)="toggleApiKey(client)"
        title="Show / Hide">

        <i
            class="fa-solid"
            [class.fa-eye]="!client.showKey"
            [class.fa-eye-slash]="client.showKey">

        </i>

    </button>

</div>

</td>

<td>

<span

class="badge"

[ngClass]="client.status.toLowerCase()">

{{client.status}}

</span>

</td>

<td>

 <div class="actions">

    <button
        (click)="openEditModal(client)"
        title="Edit">

        <i class="fa-solid fa-pen"></i>

    </button>

    <button
        (click)="copyApiKey(client.apiKey)"
        title="Copy">

        <i class="fa-solid fa-copy"></i>

    </button>

    <button
        (click)="generateApiKey(client)"
        title="Generate">

        <i class="fa-solid fa-key"></i>

    </button>

    <button
        (click)="toggleStatus(client)"
        title="Activate">

        <i

        class="fa-solid"

        [class.fa-toggle-on]="client.status==='Active'"

        [class.fa-toggle-off]="client.status==='Inactive'">

        </i>

    </button>

    <button
        title="Integration Guide">

        <i class="fa-solid fa-book"></i>

    </button>

    <button
        (click)="deleteClient(client)"
        title="Delete">

        <i class="fa-solid fa-trash"></i>

    </button>

</div>
</td>

</tr>

</tbody>

</table>

</div>

<!-- ========================= -->

<div
    class="modal-overlay"
    *ngIf="showModal">

    <div class="client-modal">

        <div class="modal-header">

            <h2>

                {{isEdit ? 'Edit Client' : 'Add Client'}}

            </h2>

            <button
                (click)="closeModal()">

                <i class="fa-solid fa-xmark"></i>

            </button>

        </div>

        <div class="form-group">

            <label>

                Client Name

            </label>

            <input
                [(ngModel)]="clientForm.name">

        </div>

        <div class="form-group">

            <label>

                Email

            </label>

            <input
                [(ngModel)]="clientForm.email">

        </div>

        <div class="form-group">

            <label>

                Description

            </label>

            <textarea
                rows="4"
                [(ngModel)]="clientForm.description">

            </textarea>

        </div>

        <div class="modal-actions">

            <button
                class="cancel"
                (click)="closeModal()">

                Cancel

            </button>

            <button
                class="save"
                (click)="saveClient()">

                {{isEdit ? 'Update' : 'Save Client'}}

            </button>

        </div>

    </div>

</div>